@page "/admin"
@model AdminModel
@{
}
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<p>@ViewData["debug"]</p>
<div class="product-list">
    <div><h1>Products</h1></div>
    <div>
        <button onclick="createProductForm()">Add product</button>
    </div>

    @foreach (var product in Model.products)
    {
        <div class="product-list-item" id="@product.Id">
            @foreach (var image in product.Images)
            {
                <img src="@image">
            }

            <p>@product.Name</p>
            <p>@product.Price</p>
            <span class="spacer"></span>
            <button class="product-edit-item" onclick="editProductForm('@product.Id', `@product.Name`, `@product.Description`, `@product.CategoryId`, `@product.Price`, `@product.Tags`)">📝</button>
            <button class="product-delete-item" onclick="deleteProduct('@product.Id')">✖️</button>
        </div>
    }
</div>
<script src="/js/admin.js" asp-append-version="true" defer></script>