@page "/admin"
@model AdminModel
@{
}
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<p>@ViewData["debug"]</p>
<div class="admin-list">
    <div><h1>Products</h1></div>
    <div>
        <button onclick="createProductForm()">Add product</button>
    </div>

    @foreach (var product in Model.products)
    {
        <div class="admin-list-item" id="@product.Id">
            @foreach (var image in product.Images)
            {
                <img src="@image">
            }

            <p>@product.Name</p>
            <p>@product.Price</p>
            <span class="spacer"></span>
            <button class="product-edit-item" onclick="editProductForm('@product.Id', `@product.Name`, `@product.Description`, `@product.CategoryId`, `@product.Price`, `@string.Join(", ", product.Tags ?? new string[] {})`, `@string.Join(", ", product.Extras ?? new string[] {})`, `@string.Join(", ", product.Addons ?? new string[] {})`)">📝</button>
            <button class="product-delete-item" onclick="deleteProduct('@product.Id')">✖️</button>
        </div>
    }
</div>
<div class="admin-list">
    <div><h1>Images</h1></div>
    <div>
        <button onclick="imageForm()">Add Images</button>
    </div>

    @foreach (var image in Model.images)
    {
        <div class="admin-list-item" id="@image.Url">
            <img src="@image.Url" alt="" />
            <p>@image.Description</p>

            <span class="spacer"></span>
            <button class="product-edit-item">📝</button>
            <button class="product-delete-item" onclick="deleteImage('@image.Url')">✖️</button>
        </div>
    }
</div>
<script src="/js/admin.js" asp-append-version="true" defer></script>