@page "/admin"
@model AdminModel
@{
}
<p>@ViewData["debug"]</p>
<div class="product-list">
    <h1>Products</h1>
    <div>
        <button onclick="createProductForm()">Add product</button>
    </div>

    @foreach (var product in Model.products)
    {
        <div class="product-list-item" id="@product.Id">
            @foreach (var image in product.Images)
            {
                <img src="@image">
            }

            <p>@product.Name</p>
            <p>@product.Description</p>
            <p>@product.Price</p>
            <span class="spacer"></span>
            <button class="product-delete-item" onclick="deleteProduct('@product.Id')">✖️</button>
        </div>
    }
</div>
<script src="/js/admin.js" defer></script>