@page "/products/{id}"
@using SuopCommerce.Models
@model ProductModel
@{
}
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
<script src="/js/product.js" asp-append-version="true"></script>

<div class="product-page-wrapper">
    <div class="product-image-grid-wrapper">
        <div class="product-image">
            <img src="@Model.images.First().Url" alt="" />
            <span class="title">@Html.Raw(Model.MarkdownToHtml(Model.images.First().Description ?? ""))</span>
        </div>
        <div class="product-image-grid">

            @foreach (var image in Model.images.Skip(1))
            {
                <div class="product-image">
                    <img src="@image.Url" alt="" />
                    <span class="title">@Html.Raw(Model.MarkdownToHtml(image.Description ?? ""))</span>
                </div>
            }
            @if (Model.images.Length == 0)
            {
                <span class="placeholder-image"></span>
            }
        </div>
    </div>
    <div class="product-info">

        <h1>@Model.product.Name</h1>
        <div class="product-description">@Html.Raw(Model.MarkdownToHtml(Model.product.Description))</div>
        <p>@Model.debug</p>

        @foreach (var extraString in Model.product.Extras)
        {
            var extra = Model.ParseExtra(extraString);
            <div class="product-extra">

                @switch (extra.Type)
                {
                    case Extras.Types.PerLetter:
                        <b>@extra.Text</b><br>
                        if(extra.Cost != 0)
                        {
                             <span>(+$@Model.FormatMoney(extra.Cost) per letter)</span><br>
                        }

                        <input type="text" value="" oninput="window.suopProduct.setPerLetter(this.value, `@extra.Id`, @extra.Cost)" />
                        break;

                    case Extras.Types.TextField:
                    //todo make the hint text below escape quotes
                        <b>@extra.Text</b><br>
                            <style>
                                #@extra.Id:empty:before {
                                    content: "@extra.HintText";
                                }
                            </style>
                            <span id="@extra.Id" contenteditable="true" class="extra-text-field" oninput="window.suopProduct.customization.set(`@extra.Id`, this.innerHTML)"></span>
                            break;

                    case Extras.Types.Radio:
                        <div><b>@extra.Text</b></div> 
                        string radioChecked = "checked";
                        //set the default value
                        <script defer>
                            addEventListener('DOMContentLoaded', () => {
                                window.suopProduct.setRadioOption(`@extra.Id`, `@extra.RadioOptions!.First().Key`, @extra.RadioOptions!.First().Value)
                            });
                        </script>
                        <span class="extra-radio-wrapper">
                        @foreach(var radioOption in extra.RadioOptions!)
                        {
                            <label
                                class="extra-radio" 
                                onclick="window.suopProduct.setRadioOption(`@extra.Id`, `@radioOption.Key`, @radioOption.Value)">
                                @radioOption.Key 
                                    @if (radioOption.Value != 0) {
                                        <div>(@(radioOption.Value > 0 ? "+" : "-")$@Model.FormatMoney(Math.Abs(radioOption.Value)))</div>
                                    }
                                    <input class="hidden" type="radio" name="@extra.Id" @radioChecked/>
                            </label>
                            //check only the first radio button
                            radioChecked = string.Empty;
                        }
                            </span>
                        break;

                    case Extras.Types.Addon:
                        var parsedId = -1;
                        int.TryParse(extra.Id, out parsedId);
                        var addon = Model.db.Products.Find(parsedId);
                        if (addon == null) continue;
                        var addonImageUrl = await Model.GetImageUrlAsync(addon.Images.FirstOrDefault());

                        <label class="product-addon" onclick="window.suopProduct.toggleAddon(@addon.Id, @addon.Price)">
                            <img src="@addonImageUrl" class="addon-image" />
                            <span class="addon-text">
                                <span>
                                    <b>@addon.Name</b> (+ <span class="price">@Model.FormatMoney(addon.Price)</span>)
                                </span>
                                <br>
                                <span>@addon.Description</span>
                            </span>

                            <input type="checkbox" id="addon-@addon.Id" />

                        </label>
                        break;

                    default:
                        <b>Extra type @extra.Type.ToString() has not yet been implemented.</b>
                        break;

                    case Extras.Types.Invalid:
                        <h1>Invalid extra:</h1> @extra.Text
                        break;
                }
            </div>
        }

        <h1 id="final-price" class="">$@Model.FormatMoney(Model.product.Price)</h1>
        <button class="rounded-square-button" onclick="window.suopProduct.addToCart()">Buy now</button>

        <script defer>
            addEventListener('DOMContentLoaded', () => {
                window.suopProduct.basePrice = @Model.product.Price
                    window.suopProduct.id = @Model.product.Id
                    window.suopProduct.refreshPrice()
                        });
        </script>
    </div>

</div>
